/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #cdcdcd;
}

input {
    border: 1px solid #607d8b;
    padding: 9px;
    border-radius: 18px;
    outline: none;
    padding-left: 24px;
}